parameters:
  level: max
  parallel:
    maximumNumberOfProcesses: 1
    processTimeout: 200.0
  paths:
    - src
    - tests
  scanFiles:
    - %currentWorkingDirectory%/vendor/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
  exceptionRules:
    reportUnusedCatchesOfUncheckedExceptions: true
    uncheckedExceptions: []
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
  excludes_analyse:
    - */tests/*/data/*
  ignoreErrors:
    - '~is not subtype of Throwable~'
    - '~PHPDoc tag @throws with type .* is not compatible with parent~'
    - '~Strict comparison using === between null and string will always evaluate to false~'
    - '~Call to an undefined method Laminas\\Form\\View\\Helper\\AbstractHelper::render\(\)~'
#    - '~Parameter #1 \$attributesOrElement of method Mezzio\\BootstrapForm\\LaminasView\\View\\Helper\\FormLabel::openTag\(\) expects array<string, bool\|string>\|Laminas\\Form\\ElementInterface\|null, array given~'
#    - '~Call to an undefined method Laminas\\View\\Helper\\HelperInterface::render\(\)~'
    - '~Call to an undefined method Laminas\\InputFilter\\InputFilterInterface\|Laminas\\InputFilter\\InputInterface::isRequired\(\)~'
    - '~Strict comparison using === between null and int\|string will always evaluate to false~'
    - '~Parameter #1 \$attributesOrElement of method .* expects .*, int given~'
